@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


:root {
   --black: #333333;
   --main-red: #E50038;
   --sub-pink: #E3007F;
   --sub-font: 'Noto Sans TC', sans-serif;
}

svg {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  opacity: 30%;
  pointer-events: none;
}

path {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  
}


body {
   font-family: 'Pretendard', 'Noto Sans TC', '맑은 고딕', sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.5;
   letter-spacing: -2.5%;
   color: var(--black);
   overflow-x: hidden;
   -ms-overflow-style: none;
   width: 100%;
   height: auto;

}


::-webkit-scrollbar {
   display: none;
}


.inner {
 /*aspect-ratio: 가로비율 / 세로비율*/
   aspect-ratio: 1/0.0600;
   height: 84px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.inner h1{
    width: 160px;
    height: 100%;
   
}


/* header 영역 */

#header {
    /*aspect-ratio: 가로비율 / 세로비율*/
   width: 100%;
   aspect-ratio: 30.642/1;
   margin: 0 auto;
   z-index: 99;
   transition: all 0.5s;
   border-bottom:1.5px solid var(--black);
   background-color: #ffffff;
   position: fixed;

}


.gnb{
   width: fit-content;
   display: flex;
   align-items: center;
}

.gnb li a{
   width: fit-content;
   color: #a3a3a3;
   margin: 6px;
   font-weight: 500;
}


#gnb_Btn{
   padding: 30 0 30 30px;
   font-size: 1.5rem;
   font-weight: 700;
   cursor: pointer;
   float: right;
   margin-left: 138px;
}

/*section01*/
.section01{
   width: 100%;
   height: fit-content;
   border-bottom:1px solid #333333;
  
}


.section01Contents{
    width: 1360px;
    aspect-ratio: 1.5185/1;
    margin: 0 auto;
     position: relative;
}


#flower01 {
   width: 330px;
   height: 120px;
   position: absolute;
   left: 0;
   
}


 #flower02{
   width: 147.55px;
   aspect-ratio: 0.7666/1;
   position: absolute;
   bottom: 2.6%;
   left: 30%;
   transform: translateX(-30%);
   rotate: 135deg;
   z-index: 10;
}

 #flower03{
   width: 87.55px;
   aspect-ratio: 0.7666/1;
   position: absolute;
   top: 40.6%;
   left: 0; 
   transform: translateX(-30%);transform: scaleX(-1);
   rotate: 430deg;
   opacity: 80%;
   z-index: 10;
}

 #flower04{
    width: 240px;
   aspect-ratio: 0.9034/1;
   position: absolute;
   top: 23.6%;
   right: 7%;
   transform: translateX(-10%);
   rotate:8.1deg;
   z-index: 12;
}



#flower05{
    width: 140px;
   aspect-ratio: 0.9034/1;
   position: absolute;
   top: 23.6%;
   right: 40%;
   transform: translateX(-40%);
   rotate:210deg;
   z-index: -2;
}




.utill{
   width: 1160.9px;
   aspect-ratio: 3.869/1;
   text-align: center;  
   line-height:130px ;  
   font-size: 14rem; 
   font-weight:900;
   position: absolute;
   top:80px ;
   left: 50%;
   transform: translateX(-50%);
   z-index: 11;
   margin-top: 7px;
   background: transparent;
}


.utill ~ .utill{
      width: 1160.9px;
   aspect-ratio: 3.869/1;
   text-align: center;  
   line-height:130px ;  
   font-size: 14rem; 
   font-weight:900;
   position: absolute;
   top:210px ;
   left: 50%;
   transform: translateX(-50%);
   z-index: 11;
   margin-top: 0px;
   background: transparent;
}


.section01Contents #mainBanner{
   width: 484px;
   aspect-ratio: 1/1;
   position: absolute;
   left: 50%;
   top: 276px;
   transform: translateX(-50%);
   object-fit: cover;
   z-index: 1;
}



.section01Contents article{ 
   font-size: 1.5rem; 
   font-weight: 500; 
   letter-spacing: -2.5%;
   text-align: left; 
   position: absolute; 
   left: 0; 
   bottom: 45px;}


.section01Contents p{ 
   font-size: 1.5rem; 
   font-weight: 500; 
   letter-spacing: -2.5%;
   text-align: center; 
   position: absolute; 
   left: 50%; 
   transform: translateX(-50%);
   bottom: 45px;}





.section01Contents article ~ article{
   font-size: 1.5rem; 
   font-weight: 500; 
   letter-spacing: -2.5%;
   text-align: right; 
   position: absolute; 
   right: 0; 
   bottom: 45px;
}

/*section02*/
.section02{
   width: 100vw;
   height:fit-content;

}

.section02Contents{
   width: 1380px;
   aspect-ratio: 1.899/1;
   margin: 0 auto;
   position: relative;
  
 
}

.section02Contents h3{
   width: 628px;
   aspect-ratio: 9.8125/1;
   font-size: 4.59rem;
   font-weight: 500;
   position: absolute;
   top: 27px;
   left: 50%;
   transform: translateX(-50%);
}


.section02Contents img{
   width: 1380px;
   aspect-ratio: 2.533/1;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 58px;
   object-fit: cover;
   
}

.section02ContentsCarousell{
   width: 1380px;
   aspect-ratio: 2.0875/1;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   border-top: 1px solid black;
   overflow-x: hidden;
   margin-bottom: 50px;
}

.section02ContentsCarousell h3{
   width: 320px;
   aspect-ratio: 3.2906/1;
   font-size: 4.59rem;
   font-weight: 400;
   position: absolute;
   top: -38px;
   left: 0;
   background-color: #ffffff;
   
}


.carousellContainer{
   position: relative;
   width: 1380px;
   aspect-ratio: 2.3193/1;
   display: flex;
   justify-content: flex-start;
   transition: all 0.7s;
}


.section02ContentsCarousell img{
   width: 403px;
   aspect-ratio: 0.80119/1;
   left: 0;
   top: -10%;
   transform: translateY(10%);
   margin-right: 24px;
   transition: all 0.7s;  
}



.slideBtn{
   width: 110px;
   aspect-ratio: 2.0370/1;
   position: absolute;
   top: 1940px;
   left: 22%;
   transform: translateX(-22%);
   z-index: 10;
   display: flex;
   justify-content: space-between;
}


#service{
   width: fit-content;
   height: fit-content;
   position: absolute;
   left: 0;
   bottom: -150px;
}

/*section03*/


.section03{ 
   width: 100%;
   height: fit-content;
}



.section03Contents{
   width: 1380px;
   aspect-ratio: 1.688/1;
   margin: 0 auto;
   position: relative;
   border-top: 1px solid var(--black);
   border-bottom: 1px solid var(--black);
}



.section03Contents h3{  width: 370px;
   aspect-ratio:5.1454/1;
   font-size: 4.59rem;
   font-weight: 400;
   position: absolute;
   top: -38px;
   left: 0;
   background-color: #ffffff;}


.section03Contents article{
   width: fit-content;
   height: fit-content;
   float: left;
}

.section03Contents img{
   margin-top: 49px;
}

.section03Contents aside{
   width: 402px;
   aspect-ratio: 1.9142/1;
   padding-top: 24px;
   letter-spacing: -2.5%;
}


.technology_List{
   width:940px;
   aspect-ratio: 1.100/1;
   float: right;
   
}


.techList{
   width: 935px;
   aspect-ratio: 4.5869/1;
   border-bottom: 1px solid var(--black);
   display: flex;
   justify-items: last baseline;
   padding-top: 4.5%;
}

.techList:nth-child(4){border-bottom: none;}

.techList p{font-size: 2.5rem; font-weight: 400;  padding-right: 5%; }

.techList span{ letter-spacing: -2.5%; text-align: justify;}









/*section04*/
.section04{ 
   width: 100%;
   height: fit-content;
}


.section04Contents{
   width: 1380px;
   aspect-ratio: 1.2454/1;
   position: relative;
   margin: 0 auto;
   border: 1px solid red;
}